<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/normalize.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body ng-app="app">
        <!--background will be absolute, background forces height-->
    <div id="container" ng-controller="HistoryItemController">
        <figure id="background-image">
            <img src="/images/bg.svg" alt="background" title="background"/>

            <p class="year" ng-repeat="i in items">{{i.year}}</p>

            <section ng-repeat="i in items" repeat-done="layoutDone()">
                <h1>{{i.title}}</h1>
                <h2>{{i.date}}</h2>
                <img alt="{{i.title}}" title="{{i.title}}"/>
                <p>{{i.description}}</p>
            </section>
        </figure>
    </div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js" type="application/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js" type="application/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular-route.js" type="application/javascript"></script>
    <script src="javascripts/lib/window.resizeStop.js"></script>
    <script src="javascripts/pollyfills.js"></script>
    <script src="/javascripts/guitarhistory/animation/HistoryAnimationItem.js"></script>
    <script src="/javascripts/animations.js"></script>
    <script src="/javascripts/guitarhistory/app.js" type="text/javascript"></script>
    <script src="/javascripts/guitarhistory/model/GuitarHistoryItem.js" type="text/javascript"></script>
    <script src="/javascripts/guitarhistory/directive/layoutDoneDirective.js" type="text/javascript"></script>
    <script src="/javascripts/guitarhistory/controller/HistoryItemController.js" type="text/javascript"></script>
        <!--<script src="/javascripts/build/app.min.js"></script>-->
</body>
</html>
