body {
  background-color: #c0c0c0;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
  //overflow-x: hidden;
}

#background-image {
  width: 100%;
  z-index: -1000;
  position: absolute;
  top: 0px;
  left: -2.5%;
  > p {
    position: absolute;
    text-align: center;
    display: block;
    top: 4%;
    left: 44%;
    width: 10%;
    font-size: 3vw;
    color: #c0c0c0;
    transition: color .2s;
    cursor: pointer;
    &:hover {
      color: #000;
    }
  }
}

section {
  background-color: #fff;
  border-radius: 5px;
  padding: 1% 3% 1% 3%;

  opacity: 0;
  box-shadow: 5px 5px 10px #888;
  float: left;
  margin: 4%;
  width: 0;
   > h1, h2 {
     font-weight: normal;
     text-align: center;
     white-space: nowrap;
     margin: 0;
   }
  > img {
    margin: 0 auto;
    transform: rotate(45deg);
  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.show {
  opacity: 1;
  visibility: visible;
}

.peekOpenItem {
  width: 30%;
  opacity: 1;
}

.openItem {
  width: 30%;
  opacity: 1;
  height: 450px;
}

.fullyhidden {
  display: none;
  opacity: 0;
}

.block {
  display: block;
  opacity: 0;
}

.fullshow {
  display: block;
  opacity: 1;
}

.active {
  color: #000;
}

