@import url(http://fonts.googleapis.com/css?family=Tangerine);

$item-top-2: 19.25%;
$item-top-3: 32.25%;
$item-top-4: 42.5%;
$item-top-5: 50.75%;
$item-top-6: 19.5%;

// IE fix
html {
  position :relative;
  z-index: -2000;
}

body {
  //background-color: #c0c0c0;
  background-color: #6d695c;
  background-image:
  repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
  repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
  linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
  linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
  background-size: 70px 120px;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
  overflow-x: hidden;
  position: relative;
  z-index: -1200;
}

header {
  padding: 2%;
  > h1 {
    text-align: center;
    font-family: Tangerine;
    font-size: 5vw;
    margin: 0;
    color: white;
  }
}

section {
  background-color: #fff;
  border-radius: 6px;
  opacity: 0;
  position: absolute;
  padding: 1% 3% 1% 3%;
  width: 30%;
  box-shadow: 5px 5px 10px rgba(0,0,0, .3);
  left: 3%;
  top: 4.5%;
  overflow: hidden;


  &:nth-child(even) {
    //float:right;
    right: 3%;
    left: auto;
  }

  > h2, h3 {
    font-weight: normal;
    text-align: center;
    opacity: 0;
    white-space: nowrap;
    margin: 0;
  }
  > h2 {
    font-size: 4vw;
  }
  > h3 {
    font-size: 3vw;
  }

  > img {
    margin: 0 auto;
    width: 70%;
    opacity: 0;
    transform: rotate(45deg);
  }
}

h2, h3 {
  font-family: Tangerine;
}

div#container {
  height: 100%;
  margin:0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
}


#background-image {
  width: 100%;
  z-index: -1000;
  // chrome windows fix
  overflow-x: hidden;
  top: 0px;


  // IE fix
  > img {
    width: 100%;
  }

  > inlay {
    position: absolute;
    text-align: center;
    display: block;
    top: 5.25%;
    left: 44.3%;
    width: 10%;
    font-size: 3vw;
    color: #c0c0c0;
    transition: color .2s;
    cursor: pointer;
    user-select: none;

    &.active {
      color: #000;
    }

    &:nth-child(3) {
      top: $item-top-2;
    }

    &:nth-child(4) {
      top: $item-top-3;
    }

    &:nth-child(5) {
      top: $item-top-4;
      font-size: 2.8vw;
    }

    &:nth-child(6) {
      top: $item-top-5;
      font-size: 2.5vw;
    }

    &:hover {
      color: #000;
    }
  }
}

#stage-container {
  z-index: -1001;
  position: relative;
  width: 100%;
  margin-top: -1%;
  overflow: hidden;
  > div {
    z-index: 100;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    > figure.support-guitar {
      margin: 35% 13% 0 0;
      width: 15%;
      float: left;
        transform: rotate(45deg);

      > img {
        width: 100%;
      }
      > figcaption {
        position: absolute;
        transform: rotate(-90deg);
        left: -7%;
        top: 38%;
        margin: 0;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        padding: 0;
        font-size: 0.8vw;
        color: #c0c0c0;
      }
      &:first-child {
        margin: 35% 14% 0 15%;
      }
      &:nth-child(even) {
        margin-top: 25%;
      }
    }
  }
  > img {
    width: 100%;
    display: block;
  }
  > figure {
    z-index: 101;
    width: 30%;
    height: auto;
    position: absolute;
    left: 40%;
    top: 44%;
    transform: rotate(70deg);

    > img {
      // IE fix
      width: 100%;
    }

    > div {
      position: absolute;
      top: 22%;
      left: 40.5%;
      width: 5%;
      height: 6%;
      opacity: .5;
      background-color: #f00;
      &.playing {
        opacity: 1;
      }

      &#chord2 {
        top: 30%;
        background-color: #0f0;
      }

      &#chord3 {
        top: 38%;
        background-color: #00f;
      }

      &#chord4 {
        top: 46%;
        background-color: #ff0;
      }
    }
  }
}

.active {
  color: #000;
}

.hidden {
  display: block;
  opacity: 0;
}

.show {
  opacity: 1;
  visibility: visible;
}

.peekOpenItem {
  width: 30%;
  opacity: 1;
}

.openItem {
  width: 30%;
  opacity: 1;
  height: 420px;
}

.fullyhidden {
  display: none;
  opacity: 0;
}

.block {
  display: block;
  opacity: 0;
}

.fullshow {
  display: block;
  opacity: 1;
}

.closedItem {
  width: 0;
  opacity: 0;
}

.opaqueItem {
  opacity: 0.2;
}

.invisible {
  opacity: 0;
}

div#locationloader {
  position: absolute;
  margin-top: 35%;
  height: 20%;
  width: 100%;
  color: #fff;
  padding: 0;
  > * {
    margin: 0 auto;
    text-align: center;
  }
  > img {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  header > h1 {
    font-size: 7vw;
  }

  section > h2 {
    font-size: 9vw;
  }

  section > h3 {
    font-size: 8vw;
  }

  #background-image > section {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    margin: 20px auto;
    opacity: 1;
    width: 90%;
    > * {
      display: block;
      opacity: 1;
    }
  }

  #background-image > img {
    display: none;
  }

  #background-image > inlay {
    display: none;
  }

  .hidden, .fullyhidden , .block, .fullshow{
    display: block;
    opacity: 1;
  }

  .closedItem {
    width: 90%;
    display: block;
    opacity: 1;
  }

  #stage-container {
    margin-top: -10%;
    > figure {
      width: 83%;
      left: 10%;
      top: -37%;
    }
    > div {
      top: 5%;
      left: 30%;
      padding-left: 17%;
      > figure.support-guitar {
        margin: 25% -5% 0 0;
        width: 21%;
        &:first-child {
          margin: 25% -5% 0 0;
        }
      }
    }
  }
}
