.active {
  color: #000000; }

body {
  background-color: #c0c0c0;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
  overflow-x: hidden; }

#container {
  height: 100%;
  position: relative; }

#background-image {
  width: 100%;
  z-index: -1000;
  overflow: hidden;
  top: 0px; }
  #background-image > img {
    width: 100%; }
  #background-image > p {
    position: absolute;
    text-align: center;
    display: block;
    top: 5.5%;
    left: 44%;
    width: 10%;
    font-size: 3vw;
    color: #c0c0c0;
    transition: color .2s;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; }
    #background-image > p.active {
      color: #000000; }
    #background-image > p:nth-child(3) {
      top: 19.5%; }
    #background-image > p:hover {
      color: #000; }

#stage-container {
  position: absolute;
  width: 100%;
  top: 105%;
  overflow: hidden; }
  #stage-container > div {
    z-index: 100;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0 0 15%; }
    #stage-container > div > img {
      margin: 35% 14% 0 0;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      width: 15%;
      float: left; }
      #stage-container > div > img:nth-child(even) {
        margin-top: 25%; }
  #stage-container > img {
    width: 100%; }
  #stage-container > figure {
    z-index: 101;
    width: 30%;
    height: auto;
    position: absolute;
    left: 40%;
    top: 44%;
    transform: rotate(70deg);
    -webkit-transform: rotate(70deg); }
    #stage-container > figure > img {
      width: 100%; }
    #stage-container > figure > div {
      position: absolute;
      top: 22%;
      left: 40.5%;
      width: 5%;
      height: 6%;
      opacity: .5;
      background-color: #f00; }
      #stage-container > figure > div.playing {
        opacity: 1;
        border: solid 1px black; }
      #stage-container > figure > div#chord2 {
        top: 30%;
        background-color: #0f0; }
      #stage-container > figure > div#chord3 {
        top: 38%;
        background-color: #00f; }
      #stage-container > figure > div#chord4 {
        top: 46%;
        background-color: #ff0; }

section {
  background-color: #fff;
  border-radius: 5px;
  opacity: 0;
  position: absolute;
  padding: 1% 3% 1% 3%;
  width: 30%;
  box-shadow: 5px 5px 10px #888;
  left: 3%;
  top: 4.5%; }
  section:nth-child(odd) {
    right: 3%;
    top: 18.5%;
    left: auto; }
  section > h1, section h2 {
    font-weight: normal;
    text-align: center;
    opacity: 0;
    white-space: nowrap;
    margin: 0; }
  section > img {
    margin: 0 auto;
    width: 70%;
    opacity: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }

.active {
  color: #000; }

.hidden {
  display: block;
  opacity: 0; }

.show {
  opacity: 1;
  visibility: visible; }

.peekOpenItem {
  width: 30%;
  opacity: 1; }

.openItem {
  width: 30%;
  opacity: 1;
  height: 420px; }

.fullyhidden {
  display: none;
  opacity: 0; }

.block {
  display: block;
  opacity: 0; }

.fullshow {
  display: block;
  opacity: 1; }

.closedItem {
  width: 0;
  opacity: 0; }

/*# sourceMappingURL=style.css.map */
