$item-top-2: 32.4%;
$item-top-3: 43.15%;
$item-top-4: 51.85%;
$item-top-5: 58.65%;
$item-top-6: 67%;
$item-top-7: 74.10%;
$item-top-8: 78.5%;
$item-top-9: 82.95%;
$item-top-10: 87.35%;

// IE fix
html {
  position: relative;
  z-index: -2000;
}

body {
  //background-color: #c0c0c0;
  background-color: #6d695c;
  background-image: repeating-linear-gradient(120deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 1px, transparent 1px, transparent 60px), repeating-linear-gradient(60deg, rgba(255, 255, 255, .1), rgba(255, 255, 255 , .1) 1px, transparent 1px, transparent 60px), linear-gradient(60deg, rgba(0, 0, 0, .1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1)), linear-gradient(120deg, rgba(0, 0, 0, .1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1));
  background-size: 70px 120px;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
  overflow-x: hidden;
  position: relative;
  z-index: -1200;
}

button {
  background: none;
  border: 0;
  border-radius: 5px;
  color: #fff;
  float: right;
  font-family: Tangerine;
  font-size: 2.5vw;
  padding: 1%;
  width: 15%;

  &:focus {
    outline: 0;
  }

  &:hover {
    color: #c0c0c0;
  }
}

header {
  padding: 2%;

  > h1 {
    color: #fff;
    font-family: Tangerine;
    font-size: 5vw;
    margin: 0;
    text-align: center;
  }
}

section {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
  left: 3%;
  opacity: 0;
  overflow: hidden;
  padding: 3%;
  position: absolute;
  width: 30%;

  &:nth-child(odd) {
    left: auto;
    right: 3%;
  }

  &:nth-child(17) {
    > img {
      margin: 5% auto;
      transform: none;
    }
  }

  &:nth-child(18) {
    > img {
      width: 40%;
    }
  }

  &:nth-child(20),
  &:nth-child(19) {
    > img {
      margin: 4% auto;
      transform: none;
      width: 75%;
    }
  }

  > h2,
  > h3 {
    font-weight: normal;
    margin: 0;
    opacity: 0;
    text-align: center;
    white-space: nowrap;
  }

  > h2 {
    font-size: 4vw;
  }

  > h3 {
    font-size: 3vw;
  }

  > img {
    margin: 0 auto;
    opacity: 0;
    transform: rotate(45deg);
    user-select: none;
    width: 35%;
  }

  > p {
    font-size: 1.2vw;
  }
}

h2,
h3 {
  font-family: Tangerine;
}

#data-container {
  clear: both;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: -1000;


  // IE fix
  > img {
    user-select: none;
    width: 100%;
  }

  > inlay {
    color: #c0c0c0;
    cursor: pointer;
    display: block;
    font-size: 3vw;
    left: 44.3%;
    position: absolute;
    text-align: center;
    top: 20.8%;
    transition: color .2s;
    user-select: none;
    width: 10%;

    &.active {
      color: #000;
    }

    &:nth-child(3) {
      top: $item-top-2;
    }

    &:nth-child(4) {
      top: $item-top-3;
    }

    &:nth-child(5) {
      font-size: 2.8vw;
      top: $item-top-4;
    }

    &:nth-child(6) {
      font-size: 2.5vw;
      top: $item-top-5;
    }

    &:nth-child(7) {
      font-size: 2.5vw;
      left: 44.6%;
      top: $item-top-6;
    }

    &:nth-child(8) {
      font-size: 2vw;
      left: 45%;
      top: $item-top-7;
    }

    &:nth-child(9) {
      font-size: 2vw;
      left: 45%;
      top: $item-top-8;
    }

    &:nth-child(10) {
      font-size: 2vw;
      left: 45%;
      top: $item-top-9;
    }

    &:nth-child(11) {
      font-size: 2vw;
      left: 45%;
      top: $item-top-10;
    }

    &:hover {
      color: #000;
    }
  }
}

#stage-container {
  margin-top: -5%;
  overflow: hidden;
  position: relative;
  user-select: none;
  width: 100%;
  z-index: -1001;

  > p {
    bottom: 1%;
    color: #fff;
    font-family: Tangerine;
    font-size: 2vw;
    left: 34%;
    position: absolute;
    width: 32%;
  }

  > div {
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;

    > .support-guitar {
      float: left;
      margin: 35% 13% 0 0;
      transform: rotate(45deg);
      width: 15%;

      > img {
        width: 100%;
      }

      > figcaption {
        color: #c0c0c0;
        font-size: .8vw;
        left: -7%;
        margin: 0;
        padding: 0;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        top: 38%;
        transform: rotate(-90deg);
        width: 100%;
      }

      &:first-child {
        margin: 35% 14% 0 15%;
      }

      &:nth-child(even) {
        margin-top: 25%;
      }
    }
  }

  > img {
    display: block;
    width: 100%;
  }

  > figure {
    height: auto;
    left: 40%;
    position: absolute;
    top: 44%;
    transform: rotate(70deg);
    width: 30%;
    z-index: 101;

    > img {
      // IE fix
      width: 100%;
    }

    > div {
      background-color: #f00;
      cursor: pointer;
      height: 6%;
      left: 40.5%;
      opacity: .5;
      position: absolute;
      top: 22%;
      width: 5%;

      &.playing {
        opacity: 1;
      }

      &#chord2 {
        background-color: #0f0;
        top: 30%;
      }

      &#chord3 {
        background-color: #00f;
        top: 38%;
      }

      &#chord4 {
        background-color: #ff0;
        top: 46%;
      }
    }
  }

  > button {
    float: none;
    position: absolute;
    right: 0;
    top: 20%;
    z-index: 1000;
  }
}

#locationloader {
  color: #fff;
  height: 20%;
  margin-top: 35%;
  padding: 0;
  position: absolute;
  width: 100%;

  > * {
    font-family: Tangerine;
    font-size: 2vw;
    margin: 0 auto;
    text-align: center;
  }

  > img {
    display: block;
    margin: 1% auto;
    width: 2%;
  }
}

.active {
  color: #000;
}

.hidden {
  display: block;
  opacity: 0;
}

.show {
  opacity: 1;
  visibility: visible;
}

.peek-open-item {
  opacity: 1;
  width: 30%;
}

.open-item {
  height: 420px;
  opacity: 1;
  width: 30%;
}

.fullyhidden {
  display: none;
  opacity: 0;
}

.block {
  display: block;
  opacity: 0;
}

.fullshow {
  display: block;
  opacity: 1;
}

.closed-item {
  opacity: 0;
  width: 0;
}

.opaque-item {
  opacity: .2;
}

.invisible {
  opacity: 0;
}

@media screen and (max-width: 800px) {
  button {
    display: block;
    float: none;
    font-size: 5vw;
    margin: 0 auto;
    width: 20%;
  }

  header > h1 {
    font-size: 7vw;
  }

  section {
    > h2 {
      font-size: 9vw;
    }

    > h3 {
      font-size: 8vw;
    }

    > p {
      font-size: 2.5vw;
    }
  }

  #data-container {
    > section {
      left: auto;
      margin: 0 auto 4%;
      opacity: 1;
      position: relative;
      right: auto;
      top: auto;
      width: 80%;

      &:last-child {
        margin-bottom: 0;
      }

      > * {
        display: block;
        opacity: 1;
      }
    }

    > img {
      display: none;
    }

    > inlay {
      display: none;
    }
  }

  .hidden,
  .fullyhidden,
  .block,
  .fullshow {
    display: block;
    opacity: 1;
  }

  .closed-item {
    display: block;
    opacity: 1;
    width: 90%;
  }

  #stage-container {
    margin-top: -5%;

    > p {
      display: none;
    }

    > figure {
      left: 10%;
      top: -37%;
      width: 83%;
    }
    
    > div {
      left: 30%;
      padding-left: 17%;
      top: 5%;

      > .support-guitar {
        margin: 25% -5% 0 0;
        width: 21%;

        &:first-child {
          margin: 25% -5% 0 0;
        }
      }
    }

    > button {
      right: 40%;
      top: 10%;
    }

    > #locationloader {
      left: 0;
      margin-top: 20%;
      overflow: visible;
      padding-left: 0;
      top: 0;

      >* {
        font-size: 4vw;
      }

      >img {
        width: 5%;
      }
    }
  }
}
