@import url(http://fonts.googleapis.com/css?family=Tangerine);
html {
  position: relative;
  z-index: -2000; }

body {
  background-color: #6d695c;
  background-image: repeating-linear-gradient(120deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 1px, transparent 1px, transparent 60px), repeating-linear-gradient(60deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 1px, transparent 1px, transparent 60px), linear-gradient(60deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1)), linear-gradient(120deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1));
  background-size: 70px 120px;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
  overflow-x: hidden;
  position: relative;
  z-index: -1200; }

button {
  width: 15%;
  padding: 1%;
  font-size: 2.5vw;
  color: #fff;
  background: none;
  border-radius: 5px;
  font-family: Tangerine;
  border: none;
  float: right; }
  button:focus {
    outline: 0; }
  button:hover {
    color: #c0c0c0; }

header {
  padding: 2%; }
  header > h1 {
    text-align: center;
    font-family: Tangerine;
    font-size: 5vw;
    margin: 0;
    color: white; }

section {
  background-color: #fff;
  border-radius: 6px;
  opacity: 0;
  position: absolute;
  padding: 1% 3% 1% 3%;
  width: 30%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  left: 3%;
  top: 4.5%;
  overflow: hidden; }
  section:nth-child(even) {
    right: 3%;
    left: auto; }
  section > h2, section h3 {
    font-weight: normal;
    text-align: center;
    opacity: 0;
    white-space: nowrap;
    margin: 0; }
  section > h2 {
    font-size: 4vw; }
  section > h3 {
    font-size: 3vw; }
  section > img {
    margin: 0 auto;
    width: 70%;
    opacity: 0;
    transform: rotate(45deg); }

h2, h3 {
  font-family: Tangerine; }

div#data-container {
  height: 100%;
  margin: 0;
  padding: 0;
  clear: both;
  position: relative;
  width: 100%;
  z-index: -1000; }
  div#data-container > img {
    width: 100%; }
  div#data-container > inlay {
    position: absolute;
    text-align: center;
    display: block;
    top: 5.25%;
    left: 44.3%;
    width: 10%;
    font-size: 3vw;
    color: #c0c0c0;
    transition: color .2s;
    cursor: pointer;
    user-select: none; }
    div#data-container > inlay.active {
      color: #000; }
    div#data-container > inlay:nth-child(3) {
      top: 19.25%; }
    div#data-container > inlay:nth-child(4) {
      top: 32.25%; }
    div#data-container > inlay:nth-child(5) {
      top: 42.5%;
      font-size: 2.8vw; }
    div#data-container > inlay:nth-child(6) {
      top: 50.75%;
      font-size: 2.5vw; }
    div#data-container > inlay:hover {
      color: #000; }

div#stage-container {
  z-index: -1001;
  position: relative;
  width: 100%;
  margin-top: -5%;
  overflow: hidden; }
  div#stage-container > div {
    z-index: 100;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden; }
    div#stage-container > div > figure.support-guitar {
      margin: 35% 13% 0 0;
      width: 15%;
      float: left;
      transform: rotate(45deg); }
      div#stage-container > div > figure.support-guitar > img {
        width: 100%; }
      div#stage-container > div > figure.support-guitar > figcaption {
        position: absolute;
        transform: rotate(-90deg);
        left: -7%;
        top: 38%;
        margin: 0;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        padding: 0;
        font-size: 0.8vw;
        color: #c0c0c0; }
      div#stage-container > div > figure.support-guitar:first-child {
        margin: 35% 14% 0 15%; }
      div#stage-container > div > figure.support-guitar:nth-child(even) {
        margin-top: 25%; }
  div#stage-container > img {
    width: 100%;
    display: block; }
  div#stage-container > figure {
    z-index: 101;
    width: 30%;
    height: auto;
    position: absolute;
    left: 40%;
    top: 44%;
    transform: rotate(70deg); }
    div#stage-container > figure > img {
      width: 100%; }
    div#stage-container > figure > div {
      position: absolute;
      top: 22%;
      left: 40.5%;
      width: 5%;
      height: 6%;
      opacity: .5;
      background-color: #f00; }
      div#stage-container > figure > div.playing {
        opacity: 1; }
      div#stage-container > figure > div#chord2 {
        top: 30%;
        background-color: #0f0; }
      div#stage-container > figure > div#chord3 {
        top: 38%;
        background-color: #00f; }
      div#stage-container > figure > div#chord4 {
        top: 46%;
        background-color: #ff0; }
  div#stage-container > button {
    position: absolute;
    top: 20%;
    right: 0;
    float: none;
    z-index: 1000; }

.active {
  color: #000; }

.hidden {
  display: block;
  opacity: 0; }

.show {
  opacity: 1;
  visibility: visible; }

.peekOpenItem {
  width: 30%;
  opacity: 1; }

.openItem {
  width: 30%;
  opacity: 1;
  height: 420px; }

.fullyhidden {
  display: none;
  opacity: 0; }

.block {
  display: block;
  opacity: 0; }

.fullshow {
  display: block;
  opacity: 1; }

.closedItem {
  width: 0;
  opacity: 0; }

.opaqueItem {
  opacity: 0.2; }

.invisible {
  opacity: 0; }

div#locationloader {
  position: absolute;
  margin-top: 35%;
  height: 20%;
  width: 100%;
  color: #fff;
  padding: 0; }
  div#locationloader > * {
    margin: 0 auto;
    text-align: center;
    font-size: 2vw;
    font-family: Tangerine; }
  div#locationloader > img {
    display: block;
    width: 2%; }

@media screen and (max-width: 600px) {
  header > h1 {
    font-size: 7vw; }

  button {
    font-size: 5vw;
    width: 20%;
    float: none;
    display: block;
    margin: 0 auto; }

  section > h2 {
    font-size: 9vw; }

  section > h3 {
    font-size: 8vw; }

  div#data-container > section {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    margin: 0 auto 4% auto;
    opacity: 1;
    width: 90%; }
    div#data-container > section:last-child {
      margin-bottom: 0; }
    div#data-container > section > * {
      display: block;
      opacity: 1; }

  div#data-container > img {
    display: none; }

  div#data-container > inlay {
    display: none; }

  .hidden, .fullyhidden, .block, .fullshow {
    display: block;
    opacity: 1; }

  .closedItem {
    width: 90%;
    display: block;
    opacity: 1; }

  div#stage-container {
    margin-top: -5%; }
    div#stage-container > figure {
      width: 83%;
      left: 10%;
      top: -37%; }
    div#stage-container > div {
      top: 5%;
      left: 30%;
      padding-left: 17%; }
      div#stage-container > div > figure.support-guitar {
        margin: 25% -5% 0 0;
        width: 21%; }
        div#stage-container > div > figure.support-guitar:first-child {
          margin: 25% -5% 0 0; }
    div#stage-container > button {
      right: 40%;
      top: 10%; }
    div#stage-container > #locationloader {
      top: 0;
      left: 0;
      overflow: visible;
      margin-top: 20%;
      padding-left: 0; }
      div#stage-container > #locationloader > * {
        font-size: 4vw; }
      div#stage-container > #locationloader > img {
        width: 5%; } }

/*# sourceMappingURL=style.css.map */
